body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url(image/file_00000000b3c862308bc40471a4b230a8.jpg);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.3);
}

h1 {
  margin-bottom: 30px;
  font-size: 2em;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-icons img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}